@font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.woff') format('woff');
      font-weight: 300;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Bold.woff') format('woff');
      font-weight: 700;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.woff') format('woff');
      font-weight: 700;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
      src: url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff') format('woff'),
            url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff2') format('woff2');
    font-weight: 700;
  }


  html {
    --background-color: #FFEDC2;
    --titlesandtext: #D96B3C;
    --hovercolor: #D96B3C;
  }
  
  * {
    box-sizing: border-box;
    }
 
body {
  background-color: var(--background-color);
  background-size: cover;
   color: var(--titlesandtext);
   width: 100%;
   margin: 0;
}
  
h1 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 700; /* BOLD */
  font-size: 30px;
}

h2 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
}

h3 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 400; /* SKINNY */
  font-size: 20px;
  margin: 0px;
}

h4 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
  font-style: italic;
}
    
a {
  font-family: 'Overpass', Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color:#36454F;
}

p {
    font-family: 'Overpass Mono', Georgia, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* NAVBAR */
#currentPage {
    color: var(--hovercolor);
}

.navbar {
    position: fixed; 
    top:0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #CDC1E5;
    border-bottom: 1px solid black;
}

.navbar .logo {
  padding: 0 20px;
}

.search form { 
    display: flex;
    margin:0; 
}

.search input { 
    padding: 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    background-color: #FFEDC2;
}

.search img {
  width: 30px;
  padding: 4px;
}

.search submit { 
    padding: 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    background-color: #FFEDC2;
}

.search .searchButton {
  padding: 10px 20px;
  border: none;
  background-color: #d95c4a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #CDC1E5;
  padding: 12px 20px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
  display: inline;
  margin: 0 10px;
  font-size: 18px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  color: #36454F;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #36454F;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu, .close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top:50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

/* HOMEPAGE TOP CONTENT */

.content {
    display: flex;
    text-align: left;
    font-size: 2rem;
    background-color: #CDC1E5;
    align-items: center;
}
  
.content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0;
}

.content .text {
    width: 50%;
    margin: 160px 10px 20px 70px;
}

.content img {
    display: block;
    width: 17em;
    height:17em;
    margin: 160px 70px 60px 10px;
}

/* HOMEPAGE RECIPE CONTAINER */

.homepageContainer {
    margin: 80px 50px 120px 50px;
}


.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 70px 0 70px 0;
}

.card {
  width: 100%;
  background-color: white;
  border: 2px solid #d4c5aa;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  color: #d95c4a;
  margin: 15px 0 5px 0;
  font-size: 24px;
}

.card p {
  color: #666;
  margin: 5px 0 20px 0;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #eee;
}

/* RECIPE DETAIL PAGE*/

.recipeDetail {
  margin: 120px 70px 0px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipeDetail img {
  display: block;
  width: 30em;
  height:30em;
  margin: 0px 70px 0px 0px;
  border-radius: 30px;
}

.recipetext p {
  color: black;
}

.sorry {
  margin: 100px 10px 20px 70px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sorry .card {
  width: 300px;
}

.detail-text {
  display: flex;
  justify-content: center;
}

.ingredients {
  margin: 70px;
}

.ingredients li {
  color: black;
}

.instructions {
  margin: 70px;
}

.instructions li {
  color: black;
}

@media (max-width: 1125px) { 
  .content {
    margin: 10px 0;
  }

.content .text {
    width: 50%;
    margin: 100px 10px 20px 70px;
    font-size: 1.7rem;
}

  .content img {
    display: block;
    width: 16em;
    height:16em;
}
}

@media (max-width: 1060px) { 

.content .text {
    width: 50%;
    margin: 100px 10px 20px 70px;
    font-size: 1.6rem;
}

  .content img {
    display: block;
    width: 15em;
    height:15em;
    margin: 160px 70px 60px 10px;
}
}


@media (max-width: 980px) { 
  .content {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    text-align: center;
}

.content .text {
    margin: 20px 0;
    width: 100%;
    font-size: 1.6rem;
}

.content img {
    width: 14em;
    height: 14em;
    margin: 100px 0 10px 0;
}

.homepageContainer {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.card {
  width: 60%;
}
}


@media (max-width: 680px) { 

  .content .text {
    margin: 20px 0 10px 0;
    width: 100%;
    font-size: 20px;
}

.content img {
    width: 80%;
    height: auto;
    margin: 100px 0 10px 0;
}
  .card {
    width: 90%;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: black;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }

.search input { 
  width: 120px;
    padding: 10px;
}

}

footer {
  background-color: #d95c4a;
  padding: 5rem;
  color: beige;
}