


  html {
    --background-color: #FFEDC2;
    --titlesandtext: #D96B3C;
    --hovercolor: #D96B3C;
  }
  
  * {
    box-sizing: border-box;
    }
 
body {
  background-color: var(--background-color);
  background-size: cover;
   color: var(--titlesandtext);
   width: 100%;
   margin: 0;
}
  
h1 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 700; /* BOLD */
  font-size: 30px;
}

h2 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
}

h3 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 400; /* SKINNY */
  font-size: 20px;
  margin: 0px;
}

h4 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
  font-style: italic;
}
    
a {
  font-family: 'Overpass', Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color:#36454F;
}

p {
    font-family: 'Overpass Mono', Georgia, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* NAVBAR */
#currentPage {
    color: var(--hovercolor);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #CDC1E5;
  padding: 12px 20px;
}

.navbar {
    position: fixed; 
    top:0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #CDC1E5;
    border-bottom: 1px solid black;
}

.logo {
  padding: 28px 20px;
  color: #36454F;
}

.search input {

    padding: 10px 200px 10px 10px;
    border: 1px solid black;
    outline: none;
}

.search button { 
    padding: 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: #D96B3C;
}

.search .searchButton {
  padding: 10px 20px;
  border: none;
  background-color: #D96B3C;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.menu {
  display: flex;
}

.menu a underline {
  margin-left: 30px;
}

.menu a {
  display: inline;
  margin: 0 10px;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  color: #36454F;
}
.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #36454F;
  transition: 0.15s ease-in-out;
}

.menu a:hover:after {
  width: 100%;
}

.open-menu, .close-menu {
  position: absolute;
  color: #36454f;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top:50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

/* HOMEPAGE TOP CONTENT */

.content {
    display: flex;
    text-align: left;
    font-size: 2rem;
    background-color: #CDC1E5;
    align-items: center;
    border-bottom: 1px solid black;
}
  
.content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0;
}

.content .text {
    width: 50%;
    margin: 160px 10px 20px 70px;
}

.content img {
    display: block;
    width: 17em;
    height:17em;
    margin: 160px 70px 60px 10px;
}

/* HOMEPAGE RECIPE CONTAINER */
/* Cards Section */
.cards-section {
  padding: 2rem;
}

.cards-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #36454F;
  border-bottom: 2px solid #ff6347;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.cards-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  max-width: 1200px;
}

.recipe-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.recipe-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #ff6347;
}

.recipe-card h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #333;
}

.recipe-card p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #eee;
}

/* Recipe Intro Section */

.recipe-intro {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.recipe-description {
  display: flex;
  flex-direction: column;
}

.dish-image {
  text-align: center;
  margin: 1.5rem;
  max-width: 800px;
  border-radius: 10px;
}

/* Ingredients Section */
.ingredients-description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 20px;
}

.ingredients-description ul {
  flex: 1 1 300px;
  list-style-type: square;
  padding-left: 20px;
}

.ingredients-description ul li {
  margin-bottom: 5px;
}

.ingredients-description img.ingredients-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* flex: 1 1 300px; */
}

/* Steps Section */
.steps-container {
  margin-bottom: 20px;
}

.steps-container .step {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}

.steps-container .step p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.steps-container .step img.steps-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}

.steps-container img.steps-image {
  align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {

  .recipe-intro,
  .ingredients-description {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .recipe-description {
      flex: 1;
  }

  .ingredients-description ul {
      padding-left: 0;
  }

  .ingredients-description ul li {
      list-style-type: none;
  }
}

@media (max-width: 480px) {
  .recipe-description h1 {
      font-size: 1.5rem;
  }

  .detail {
    margin: 3rem 2rem;
  }
}

.detail {
  margin: 3rem auto;
  max-width: 1200px;
  padding: 2rem;
  border-radius: 8px;
  overflow: hidden;
}

.detail p {
  margin: 0.5rem 0;
}

.detail ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.detail ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  position: relative;
  padding-left: 1rem;
}

.detail ul li:before {
  content: '•';
  color: #ff6347;
  position: absolute;
  left: 0;
  font-size: 1.3rem;
}

.detail h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #36454F;
  border-bottom: 2px solid #ff6347;
  display: inline-block;
}

a {
  color: #ff6347;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #e5533a;
}

.sorry {
  margin: 100px 10px 20px 70px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sorry .card {
  width: 300px;
}

.detail-text {
  display: flex;
  justify-content: center;
}

.ingredients {
  margin: 70px;
}

.ingredients li {
  color: black;
}

.instructions {
  margin: 70px;
}

.instructions li {
  color: black;
}

@media (max-width: 1125px) { 
  .content {
   padding:10px 10px 20px 70px;
  }

.content .text {
    width: 50%;
    margin: 100px 10px 20px 70px;
    font-size: 1.7rem;
}

  .content img {
    display: block;
    width: 16em;
    height:16em;
}
}

@media (max-width: 1090px) { 

.content .text {
    width: 50%;
    margin: 100px 10px 20px 70px;
    font-size: 1.6rem;
}

  .content img {
    display: block;
    width: 15em;
    height:15em;
    margin: 160px 70px 60px 10px;
}

.detail {
  margin: 3rem;
}

.recipeDetail {
  flex-direction: column;
}

.recipe-intro {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.recipe-intro img {
  width: 100%;

}

}


@media (max-width: 980px) { 
  .content {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    text-align: center;
    padding: 100px 70px 20px 70px
}

.content .text {
    margin: 20px 0;
    width: 100%;
    font-size: 1.6rem;
}

.content img {
    width: 14em;
    height: 14em;
    margin: 100px 0 10px 0;
}

.homepageContainer {
    text-align: center;
}

.card-container {
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
  width: 60%;
}

.menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color: #CDC1E5;
  transition: all 0.2s ease-in-out;
}

.menu a {
  padding: 10px;
  margin-top: 40px;
}
.open-menu, .close-menu {
  display: block;
}
#check:checked ~ .menu {
  right: 0;
}


}


@media (max-width: 680px) { 
  .cards-container {
    grid-template-columns: 1fr;
  }
  
  .content .text {
    margin: 20px 0 10px 0;
    width: 100%;
    font-size: 20px;
}

.recipe-card {
  width: 100%;
}

.content img {
    width: 80%;
    height: auto;
    margin: 100px 0 10px 0;
}
  .card {
    width: 90%;
  }

.search input { 
  width: 75%;
  padding: 10px 0px 10px 10px;
}

.search {
  width: 100%;
}

.recipeDetail img {
  width: 20em;
  height: auto;
}

.detail-text {
  flex-direction: column;
}

}

/* HELP PAGE */
.help {
  margin: 150px 60px 100px 60px;
}

.help p {
  color: black;
  margin: 20px
}

footer {
  background-color: #d95c4a;
  padding: 2rem;
  color: beige;
}
